/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-addthis {
  background-image: url(sprite-icons48X48.png);
  background-position: -48px 0px;
  width: 48px;
  height: 48px;
}
.icon-email {
  background-image: url(sprite-icons48X48.png);
  background-position: -96px -48px;
  width: 48px;
  height: 48px;
}
.icon-facebook {
  background-image: url(sprite-icons48X48.png);
  background-position: 0px -48px;
  width: 48px;
  height: 48px;
}
.icon-google_plus {
  background-image: url(sprite-icons48X48.png);
  background-position: -48px -48px;
  width: 48px;
  height: 48px;
}
.icon-linkedin {
  background-image: url(sprite-icons48X48.png);
  background-position: -96px 0px;
  width: 48px;
  height: 48px;
}
.icon-rss {
  background-image: url(sprite-icons48X48.png);
  background-position: 0px 0px;
  width: 48px;
  height: 48px;
}
.icon-sharethis {
  background-image: url(sprite-icons48X48.png);
  background-position: 0px -96px;
  width: 48px;
  height: 48px;
}
.icon-skype {
  background-image: url(sprite-icons48X48.png);
  background-position: -48px -96px;
  width: 48px;
  height: 48px;
}
.icon-twitter {
  background-image: url(sprite-icons48X48.png);
  background-position: -96px -96px;
  width: 48px;
  height: 48px;
}
.icon-vkontakte {
  background-image: url(sprite-icons48X48.png);
  background-position: -144px 0px;
  width: 48px;
  height: 48px;
}
.icon-youtube {
  background-image: url(sprite-icons48X48.png);
  background-position: -144px -48px;
  width: 48px;
  height: 48px;
}
